# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/
brainstorm.*
brainstorm/
brainstorm-*.dist-info/
terraform.*
terraform*/
.pytest_cache/
app.egg-info/
.cursorrules
.cursor/
.vscode/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
brainstorm

terramutate.egg-info/